// COLOURS
$color-primary: #E8DED6;

$color-secondary: #a29b95;

$color-title: #905124;

$color-black: #000000;

// FONT VARIABLES 
$font-title: 'WindSong', cursive;

$font-primary: 'Hina Mincho', serif;

$font-secondary: 'Old Standard TT', serif;

$font-nav: 'Libre Baskerville', serif;