.about {
  height: 100vh;
  width: 100vw;
  //background: slateblue;
  display: grid;
  //grid-template-columns: repeat(2, 1fr);
  //grid-template-rows: repeat(3, auto);
  //grid-template-rows: auto;
 
  padding: 15rem;

  @media screen and (max-width: $bp-small) {
    padding: 3.4rem;
  }

  &__layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, min-content);
    grid-gap: 1rem;
    background-color: $color-primary;

  }

  &__title {
    justify-self: center;
    //font-size: 4rem;
    font-family: $font-primary;
    margin: 2rem;
    grid-column: 1 / -1;

  }

  &__skills {
    //grid-row-start: 2;
    margin: 2rem;
    font-family: $font-secondary;
    justify-self: right;
  }
}