// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
  background: url('https://github.com/jentt/portfolio/blob/main/img/leaves.jpg') no-repeat; 
  background-size: contain;
}
