// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px;
$bp-small: 37.5em;    // 600px;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%;
  overflow: auto;

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-weight: 300;
  line-height: 1.6;
  overflow: auto;
  
  background: #EBE3E3;
  background: -webkit-linear-gradient(bottom right, #EBE3E3, #c5d6c5);
  background: -moz-linear-gradient(bottom right, #EBE3E3, #c5d6c5);
  background: linear-gradient(to top left, #EBE3E3, #c5d6c5);
}
