%heading {
  font-family: $font-primary;
  font-weight: 500;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: .6rem;
  text-transform: uppercase;
  color: $color-title;
}

.heading-2 {
  @extend %heading;
  font-size: 2.8rem;
  line-height: 1;
  letter-spacing: .6rem;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 2.1rem;
  line-height: 1.6;

}
